<mission_data version="1.0" background_id_arme="77d373f9-ed2e-4726-a2b2-74bd775ac998" playerShipNames_arme="Artemis\Intrepid\Aegis\Horatio\Excalibur\Hera\Ceres\Diana">
  <start id_arme="77d373f9-ed2e-4726-a2b2-74bd775ac998">
    <!---->
  </start>

  {% set dist = 4000 %}
  {% set btnPrefixes=["-", "*", "**", "--", "*-", "-*", "_", "__"] %}

  <event name="Init Shield sharing" >
    <log text="Init Shield sharing" />

    <if_variable name="Sandbox Activation" comparator="EQUALS" value="3.0" />
    <if_variable name="Shield sharing initted" comparator="NOT" value="1.0" />

    {% for p in range(0,8) %}
    <get_object_property player_slot="{{p}}" property="shieldMaxStateFront" variable="player{{p}}OriginalShieldMaxStateFront" />
    <get_object_property player_slot="{{p}}" property="shieldMaxStateBack" variable="player{{p}}OriginalShieldMaxStateBack" />
    <log text="Detected player{{p}}OriginalShieldMaxStateFront=|player{{p}}OriginalShieldMaxStateFront| player{{p}}OriginalShieldMaxStateBack=|player{{p}}OriginalShieldMaxStateBack|" />
    
    <set_variable name="player{{p}}ShieldSharingEnabled" value="0.0" />

    <set_timer name="player{{p}}ShieldSharingDockCooldownTimer" seconds="1" />
    <set_variable name="player{{p1}}ShieldSharingDockCooldownTimerIsActive" value="1.0" integer="yes"/>

    {% endfor %}


    <!-- Set as constant for 4 most used ships to avoid "Sandbox activation" timing issues -->
    <!-- Sabre -->
    <!-- <shields front="20" back="20" /> -->
    <set_variable name="player0OriginalShieldMaxStateFront" value="20.0" />
    <set_variable name="player0OriginalShieldMaxStateBack" value="20.0" />

    <log text="Overwritten player0OriginalShieldMaxStateFront to |player0OriginalShieldMaxStateFront|" />
    <log text="Overwritten player0OriginalShieldMaxStateBack to |player0OriginalShieldMaxStateBack|" />

    <!-- Horizon -->
    <!-- <shields front="18" back="18" /> -->
    <set_variable name="player1OriginalShieldMaxStateFront" value="18.0" />
    <set_variable name="player1OriginalShieldMaxStateBack" value="18.0" />

    <log text="Overwritten player1OriginalShieldMaxStateFront to |player1OriginalShieldMaxStateFront|" />
    <log text="Overwritten player1OriginalShieldMaxStateBack to |player1OriginalShieldMaxStateBack|" />

    <!-- Viper -->
    <!-- <shields front="33" back="18" /> -->
    <set_variable name="player2OriginalShieldMaxStateFront" value="33.0" />
    <set_variable name="player2OriginalShieldMaxStateBack" value="18.0" />

    <log text="Overwritten player2OriginalShieldMaxStateFront to |player2OriginalShieldMaxStateFront|" />
    <log text="Overwritten player2OriginalShieldMaxStateBack to |player2OriginalShieldMaxStateBack|" />

    <!-- Lancer -->
    <!-- <shields front="20" back="15" /> -->
    <set_variable name="player3OriginalShieldMaxStateFront" value="20.0" />
    <set_variable name="player3OriginalShieldMaxStateBack" value="15.0" />

    <log text="Overwritten player3OriginalShieldMaxStateFront to |player3OriginalShieldMaxStateFront|" />
    <log text="Overwritten player3OriginalShieldMaxStateBack to |player3OriginalShieldMaxStateBack|" />

    <set_variable name="Shield sharing initted" value="1.0" />
  </event>


  <event name="Emergency buttons set">
    <if_variable name="Interactions Menu" comparator="EQUALS" value="1.0" />
    <set_gm_button text="ShieldSharing/Disable" />
    <set_gm_button text="ShieldSharing/Restart" />
  </event>
  <event name="Emergency buttons clear" id_arme="5ede81c1-1602-4d8b-af08-030a88ea3f0c" parent_id_arme="ffcee071-4886-4503-ab58-aeb5501c8873">
    <if_gm_button text="Clear" />
    <clear_gm_button text="ShieldSharing/Disable" />
    <clear_gm_button text="ShieldSharing/Restart" />
  </event>
  <event name="Emergency button disable">
    <if_gm_button text="ShieldSharing/Disable" />
    <set_variable name="Shield sharing initted" value="0.0" />
  </event>
  <event name="Emergency button restart">
    <if_gm_button text="ShieldSharing/Restart" />
    {% for p in range(0,8) %}
    <set_object_property player_slot="{{p}}" property="shieldMaxStateFront" value="player{{p}}OriginalShieldMaxStateFront" />
    <set_object_property player_slot="{{p}}" property="shieldMaxStateBack" value="player{{p}}OriginalShieldMaxStateBack" />
    <set_object_property player_slot="{{p}}" property="shieldStateFront" value="player{{p}}OriginalShieldMaxStateFront" />
    <set_object_property player_slot="{{p}}" property="shieldStateBack" value="player{{p}}OriginalShieldMaxStateBack" />
    {% endfor %}
    <set_variable name="Shield sharing initted" value="1.0" />
  </event>


  {% for p1 in range(0,8) %}

  <event name="{{p1}} comms menu clear" >
    <!-- <log text="{{p1}} comms menu clear" /> -->

    <if_variable name="Ship{{p1+1}}Modules" comparator="NOT" value="2.0" />
    <if_variable name="Ship{{p1+1}}CommsMenu" comparator="EQUALS" value="1.0" />

    <clear_comms_button text="{{btnPrefixes[p1]}}Arm Joint Shield Matrix Prototype MkII" player_slot="{{p1}}"/>
    <clear_comms_button text="{{btnPrefixes[p1]}}Disarm Joint Shield Matrix Prototype MkII" player_slot="{{p1}}"/>
  </event>

  <event name="{{p1}} handle Modules button press if no other modules are loaded" >
    <log text="{{p1}} handle Modules button press if no other modules are loaded" />

    <if_comms_button text="{{btnPrefixes[p1]}}Modules" />
    <if_variable name="Ship{{p1+1}}ModuleType" comparator="EQUALS" value="0.0" />

    <clear_comms_button text="{{btnPrefixes[p1]}}Modules" player_slot="{{p1}}" />
    <clear_comms_button text="{{btnPrefixes[p1]}}Cargo &amp; Personnel" player_slot="{{p1}}" />
    <clear_comms_button text="{{btnPrefixes[p1]}}Shuttle Operations" player_slot="{{p1}}" />
    <clear_comms_button text="{{btnPrefixes[p1]}}Resupply Operations" player_slot="{{p1}}" />

    <set_comms_button text="{{btnPrefixes[p1]}}Main Menu" player_slot="{{p1}}" />

    <set_variable name="Ship{{p1+1}}Modules" value="2.0" integer="yes" />
  </event>

  
  <event name="{{p1}} comms menu show Enable button" >
    <log text="{{p1}} comms menu show Enable button" />

    <if_variable name="Ship{{p1+1}}Modules" comparator="EQUALS" value="2.0" />
    <if_variable name="player{{p1}}ShieldSharingEnabled" comparator="NOT" value="1.0" />
    <set_comms_button text="{{btnPrefixes[p1]}}Arm Joint Shield Matrix Prototype MkII" player_slot="{{p1}}" />
  </event>

  <event name="{{p1}} comms menu show Disable button" >
    <log text="{{p1}} comms menu show Disable button" />

    <if_variable name="Ship{{p1+1}}Modules" comparator="EQUALS" value="2.0" />
    <if_variable name="player{{p1}}ShieldSharingEnabled" comparator="NOT" value="0.0" />
    <set_comms_button text="{{btnPrefixes[p1]}}Disarm Joint Shield Matrix Prototype MkII" player_slot="{{p1}}" />
  </event>

  <event name="{{p1}} comms menu on Enable" >
    <log text="{{p1}} comms menu on Enable" />

    <if_comms_button text="{{btnPrefixes[p1]}}Arm Joint Shield Matrix Prototype MkII" player_slot="{{p1}}"/>
    <set_variable name="player{{p1}}ShieldSharingEnabled" value="1.0" />
    <set_variable name="Ship{{p1+1}}Modules" value="0.0" />
    <set_variable name="Ship{{p1+1}}CommsMenu" value="0.0" />
    <clear_comms_button text="{{btnPrefixes[p1]}}Arm Joint Shield Matrix Prototype MkII" player_slot="{{p1}}"/>

    <incoming_comms_text from="CHANNEL {{p1+1}}" sideValue="playerSide" type="STATUS">Joint Shield Matrix Prototype MkII ARMED</incoming_comms_text>
  </event>

  <event name="{{p1}} comms menu on Disable" >
    <log text="{{p1}} comms menu on Disable" />

    <if_comms_button text="{{btnPrefixes[p1]}}Disarm Joint Shield Matrix Prototype MkII" player_slot="{{p1}}" />
    <set_variable name="player{{p1}}ShieldSharingEnabled" value="0.0" />
    <set_variable name="Ship{{p1+1}}Modules" value="0.0" />
    <set_variable name="Ship{{p1+1}}CommsMenu" value="0.0" />
    <clear_comms_button text="{{btnPrefixes[p1]}}Disarm Joint Shield Matrix Prototype MkII" player_slot="{{p1}}"/>


    <incoming_comms_text from="CHANNEL {{p1+1}}" sideValue="playerSide" type="STATUS">Joint Shield Matrix Prototype MkII DISARMED</incoming_comms_text>

    <incoming_comms_text from="CHANNEL {{p1+1}}" sideValue="playerSide" type="STATUS">Joint Shield Matrix Prototype MkII RECALIBRATING:15sec (reason:disarmed)</incoming_comms_text>
    <set_variable name="player{{p1}}ShieldSharingDockCooldownTimerIsActive" value="1.0" integer="yes"/>
    <set_timer name="player{{p1}}ShieldSharingDockCooldownTimer" seconds="15" />
  </event>


  <event name="{{p1}} decrease front max if over original value" >
    <log text="{{p1}} decrease front max if over original value" />

    <if_variable name="Shield sharing initted" comparator="NOT" value="0.0" />
    <if_object_property player_slot="{{p1}}" property="shieldMaxStateFront" comparator="GREATER" value="player{{p1}}OriginalShieldMaxStateFront" />
    <addto_object_property player_slot="{{p1}}" property="shieldMaxStateFront" value="-0.5" />
  </event>

  <event name="{{p1}} decrease back max if over original value" >
    <log text="{{p1}} decrease back max if over original value" />

    <if_variable name="Shield sharing initted" comparator="NOT" value="0.0" />
    <if_object_property player_slot="{{p1}}" property="shieldMaxStateBack" comparator="GREATER" value="player{{p1}}OriginalShieldMaxStateBack" />
    <addto_object_property player_slot="{{p1}}" property="shieldMaxStateBack" value="-0.5" />
  </event>


  <event name="{{p1}} prevent shield sharing when docked and right after dock to prevent toggling exploit" >
    <log text="{{p1}} prevent shield sharing when docked and right after dock to prevent toggling exploit" />

    <if_exists player_slot="{{p1}}" />
    <if_docked player_slot="{{p1}}" />

    <set_variable name="player{{p1}}ShieldSharingDockCooldownTimerIsActive" value="1.0" integer="yes"/>
    <set_timer name="player{{p1}}ShieldSharingDockCooldownTimer" seconds="15" />
  </event>
  <event name="{{p1}} shield sharing - on undock msg" >
    <log text="{{p1}} shield sharing - on undock msg" />

    <if_variable name="player{{p1}}PrevDockState" comparator="EQUALS" value="1.0" />
    <if_exists player_slot="{{p1}}" />
    <if_docked not="yes" player_slot="{{p1}}" />

    <incoming_comms_text from="CHANNEL {{p1+1}}" sideValue="playerSide" type="STATUS">Joint Shield Matrix Prototype MkII RECALIBRATING:15sec (reason:undocked)</incoming_comms_text>
  </event>
  <event name="{{p1}} shield sharing- on dock msg" >
    <log text="{{p1}} shield sharing- on dock msg" />

    <if_variable name="player{{p1}}PrevDockState" comparator="EQUALS" value="0.0" />
    <if_exists player_slot="{{p1}}" />
    <if_docked player_slot="{{p1}}" />

    <incoming_comms_text from="CHANNEL {{p1+1}}" sideValue="playerSide" type="STATUS">Joint Shield Matrix Prototype MkII DISABLED (reason:docked)</incoming_comms_text>
  </event>

  <event name="{{p1}} prevent shield sharing right after shields off to prevent toggling exploit" >
    <log text="{{p1}} prevent shield sharing right after shields off to prevent toggling exploit" />

    <if_variable name="player{{p1}}PrevShieldState" comparator="EQUALS" value="1.0" />
    <if_object_property player_slot="{{p1}}" property="shieldsOn" comparator="EQUALS" value="0.0" />

    <incoming_comms_text from="CHANNEL {{p1+1}}" sideValue="playerSide" type="STATUS">Joint Shield Matrix Prototype MkII RECALIBRATING:15sec (reason:shieldsDown)</incoming_comms_text>

    <set_variable name="player{{p1}}ShieldSharingDockCooldownTimerIsActive" value="1.0" integer="yes"/>
    <set_timer name="player{{p1}}ShieldSharingDockCooldownTimer" seconds="15" />
  </event>



  <event name="{{p1}} on cooldown finished" >
    <log text="{{p1}} on cooldown finished" />

    <if_timer_finished name="player{{p1}}ShieldSharingDockCooldownTimer" />
    <if_variable name="player{{p1}}ShieldSharingDockCooldownTimerIsActive" comparator="EQUALS" value="1.0" />

    <incoming_comms_text from="CHANNEL {{p1+1}}" sideValue="playerSide" type="STATUS">Joint Shield Matrix Prototype MkII READY</incoming_comms_text>

    <set_variable name="player{{p1}}ShieldSharingDockCooldownTimerIsActive" value="0.0" integer="yes"/>
  </event>

  <event name="{{p1}} track undocked" >
    <if_exists player_slot="{{p1}}" />
    <if_docked not="yes" player_slot="{{p1}}" />
    <set_variable name="player{{p1}}PrevDockState" value="0.0" integer="yes"/>
  </event>
  <event name="{{p1}} track docked" >
    <if_exists player_slot="{{p1}}" />
    <if_docked player_slot="{{p1}}" />
    <set_variable name="player{{p1}}PrevDockState" value="1.0" integer="yes"/>
  </event>

  <event name="{{p1}} track shieldsOn" >
    <get_object_property player_slot="{{p1}}" property="shieldsOn" variable="player{{p1}}PrevShieldState" />
  </event>


  {% for p2 in range(0,8) %}
  {% if p1 != p2 %}
  <event name="{{p1}} shares shields with {{p2}}" >
    <log text="{{p1}} shares shields with {{p2}}" />

    <if_variable name="Shield sharing initted" comparator="NOT" value="0.0" />

    <if_distance player_slot1="{{p1}}" player_slot2="{{p2}}" comparator="LESS" value="{{dist}}" />

    <if_object_property player_slot="{{p1}}" property="shieldsOn" comparator="EQUALS" value="1.0" />
    <if_object_property player_slot="{{p2}}" property="shieldsOn" comparator="EQUALS" value="1.0" />

    <if_variable name="player{{p1}}ShieldSharingEnabled" comparator="NOT" value="0.0" />
    <if_variable name="player{{p2}}ShieldSharingEnabled" comparator="NOT" value="0.0" />

    <if_timer_finished name="player{{p1}}ShieldSharingDockCooldownTimer" />
    <if_timer_finished name="player{{p2}}ShieldSharingDockCooldownTimer" />


    <set_variable name="pAShieldStateFront" value="0.0" />
    <set_variable name="pAShieldStateBack" value="0.0" />
    <set_variable name="pBShieldStateFront" value="0.0" />
    <set_variable name="pBShieldStateBack" value="0.0" />

    <get_object_property player_slot="{{p1}}" property="shieldStateFront" variable="pAShieldStateFront" />
    <get_object_property player_slot="{{p1}}" property="shieldStateBack" variable="pAShieldStateBack" />
    <get_object_property player_slot="{{p2}}" property="shieldStateFront" variable="pBShieldStateFront" />
    <get_object_property player_slot="{{p2}}" property="shieldStateBack" variable="pBShieldStateBack" />

    <get_object_property player_slot="{{p1}}" property="shieldMaxStateFront" variable="pAShieldMaxStateFront" />
    <get_object_property player_slot="{{p1}}" property="shieldMaxStateBack" variable="pAShieldMaxStateBack" />
    <get_object_property player_slot="{{p2}}" property="shieldMaxStateFront" variable="pBShieldMaxStateFront" />
    <get_object_property player_slot="{{p2}}" property="shieldMaxStateBack" variable="pBShieldMaxStateBack" />


    <!-- Average actual current values -->
    <set_variable name="avgStateFront" value="(pAShieldStateFront+pBShieldStateFront) / 2.0" integer="no"/>
    <set_variable name="avgStateBack" value="(pAShieldStateBack+pBShieldStateBack) / 2.0" integer="no"/>

    <!-- Determine new max state front and back, to do this choose the higher value for two player ships.
    We rely on cast to integer to "floor"  -->
    <set_variable name="avgMaxStateFront" value="(pAShieldMaxStateFront+pBShieldMaxStateFront)/2.0" integer="no" />
    <set_variable name="pBIsGreaterFront" value="(pBShieldMaxStateFront-0.1)/avgMaxStateFront" integer="yes" />
    <set_variable name="pAIsGreaterFront" value="pAShieldMaxStateFront/avgMaxStateFront" integer="yes"/>
    <set_variable name="maxStateFront" value="pBIsGreaterFront * pBShieldMaxStateFront + pAIsGreaterFront * pAShieldMaxStateFront" integer="yes"/>

    <set_variable name="avgMaxStateBack" value="(pAShieldMaxStateBack+pBShieldMaxStateBack)/2.0" integer="no" />
    <set_variable name="pBIsGreaterBack" value="(pBShieldMaxStateBack-0.1)/avgMaxStateBack" integer="yes" />
    <set_variable name="pAIsGreaterBack" value="pAShieldMaxStateBack/avgMaxStateBack" integer="yes"/>
    <set_variable name="maxStateBack" value="pBIsGreaterBack * pBShieldMaxStateBack + pAIsGreaterBack * pAShieldMaxStateBack" integer="yes"/>


    <set_object_property player_slot="{{p1}}" property="shieldMaxStateFront" value="maxStateFront" />
    <set_object_property player_slot="{{p1}}" property="shieldMaxStateBack" value="maxStateBack" />
    <set_object_property player_slot="{{p2}}" property="shieldMaxStateFront" value="maxStateFront" />
    <set_object_property player_slot="{{p2}}" property="shieldMaxStateBack" value="maxStateBack" />

    <set_object_property player_slot="{{p1}}" property="shieldStateFront" value="avgStateFront" />
    <set_object_property player_slot="{{p1}}" property="shieldStateBack" value="avgStateBack" />
    <set_object_property player_slot="{{p2}}" property="shieldStateFront" value="avgStateFront" />
    <set_object_property player_slot="{{p2}}" property="shieldStateBack" value="avgStateBack" />

    <addto_object_property player_slot="{{p1}}" value="0.002" property="systemCurHeatFrontShield" />
    <addto_object_property player_slot="{{p1}}" value="0.002" property="systemCurHeatBackShield" />
  </event>
  {% endif %}
  {% endfor %}
  {% endfor %}

</mission_data>